streamlit
Streamline
openai
boto3==1.35.34
botocore==1.35.34
pillow
langchain
langchain-community
langchain-openai
langchain-chroma
chromadb
scikit-learn
pysqlite3-binary
tiktoken
s3fs
amazon-textract-textractor
pdf2image
numpy
opencv-python
imutils
scikit-image
protobuf==3.20.*
